
*{
	margin: 0px;
	padding:0px;
}

ul
{   
margin-left: 1%;
}
li
{
display: inline;
}
a{  
display:inline-block;
padding:5px 15px;
color:#d9d9d9;
text-decoration:none;
font-size: 1.4rem;
font-family:Arial, Times ;
}
a:hover
{background-color:#0045ff ;}
a.name
{
	font-size:2.1rem;
}
#img1
{
	position: static;
	top:0;
	left:0;
	width:100%;
	height:800px;
}
.color-overlay
{
position: absolute;
top:0;
left:0;
background-color:#fff;
width:100%;
height:100vh;
opacity:0.4;
}